body {
    background-color: #f0f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 1px solid #aaa;
    padding: 16px 0;
}


.btn {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    height: 52px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 26px;
    padding-right: 26px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 22px;
    font-weight: bold;
}

.blue-btn {
    box-shadow: 0 0 0 1px #a70e0b inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 5px 0 0 #890402, 0 2px 2px 1px rgba(0, 0, 0, 0.5);
    background-color: #a70e0b;
    color: #fff;
    margin-top: 20px;

}

.dwnload {
    box-shadow: 0 0 0 1px #a70e0b inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 51px 0 0 #890402, 0 2px 2px 1px rgba(0, 0, 0, 0.5);
    background-color: #a70e0b;

}



img {
    max-width: 100%;
    height: auto;
}

.logo {
    text-align: center;
}

h1 {
    text-align: center;
	font-size: 1.5em;
    color: #1744a0;
}

.logo img {
    width: 250px;
}

.photo-frame {
    width: 75%;
    border: 1px dashed #aaa;
    padding: 8px 8px 2px 8px;
    background: #fff;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
}

.btn:active {
    box-shadow: 0 0 0 1px #a70e0b inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 0 0 #890402, 0 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.info {
    margin-top: 10px !important;
}

main {
    max-width: 750px;
    margin: 0 auto;
    background: #fff;
    padding-bottom: 40px;
}

.center {
    text-align: center;
}

input, button {
    display: block;
    margin: 10px auto;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label, .download-btn {
    border-radius: 2px;
    margin-bottom: 16px;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 700;
      vertical-align: middle;
    color: white;
    box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 5px 0 0 #4D5BBE, 0 2px 2px 1px rgba(0, 0, 0, 0.5);
    background-color: #4274D7;
    -webkit-tap-highlight-color: transparent;
    font-size: 22px;
}

.upload-img {
    display: block;
    text-align:  center;
}

.inputfile:focus + label,
.inputfile + label:hover,
.download-btn:hover {
    box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 0 0 #4D5BBE, 0 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.inputfile + label,
.download-btn {
    cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.description {
    margin: 0 26px;
    background: #f3f3f3;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 12px;
}

.disabled {
    opacity: 0;
    cursor: not-allowed;
}

.overlay:after {
    background: rgba(0,0,0,0.7);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
}

.overlay {
    position: relative;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 9;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #FF3D00 #FF3D00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
  }

  #overlay-img {
	max-width: 100%;
    height: auto;
	border: 1px solid #ccc;
  }

  .madeBy {
	text-align:center;
	margin: 15px auto 10px auto;
}

/* Company Logo */


section.company-logo ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
  }
  
  section.company-logo ul li img {
    width: 200px;
  }
  
  section.company-logo h2 {
    padding: 0 0 0 40px;
    }

  section.company-logo .company-logo-animation {
    background-color: #fff;
    pointer-events: none;
    background: url(../company-logo.png) repeat-x;
    background-size: auto 100px;
    width: 100%;
    height: 100px;
    animation: loop-slide 50s infinite linear 1s both;
    margin-top: 30px;
  }
  
  @keyframes loop-slide {
    0% {
        background-position: 0 0
    }
  
    to {
        background-position: -5695px 0
    }
  }
  


      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  
	
	