

#overlay-img, .overlay-img {
		width:500px;
		height:auto;
		display:block;
		margin: 30px auto;
	}

	input, button {
		display: block;
		margin: 10px auto;
	}

	.inputfile {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}

	.inputfile + label, .download-btn {
		border-radius: 2px;
		margin-top:40px;
		display: inline-block;
		padding: 10px 30px;
		font-weight: 700;
		text-transform: uppercase;
		  vertical-align: middle;
		color: white;
		background-color: #027bff;
		-webkit-tap-highlight-color: transparent;
	}

	.inputfile:focus + label,
	.inputfile + label:hover,
	.download-btn:hover {
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	}

	.inputfile + label,
	.download-btn {
		cursor: pointer; /* "hand" cursor */
	}

	.inputfile:focus + label {
		outline: 1px dotted #000;
		outline: -webkit-focus-ring-color auto 5px;
	}

	.overlay-div {
		text-align:center;
	}

	.madeBy {
		text-align:center;
		margin: 50px auto 10px auto;
	}

	#overlay-img {
		width: 100%;
		max-width: 350px;
		height: auto;
		border: 1px solid #ccc;
	  }

	  .bg-light {
		background-color: #e4e7ea !important;
	}

	.sketch {
		display: none !important;
	}

	.spinner-border {
		width: 6rem !important;
		height: 6rem !important;

	}